.form-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
}

.form-container h1 {
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control label {
  margin-bottom: 1rem;
}

.form-control input {
  border: var(--border);
  border-radius: 3px;
  padding: 1rem 1.5rem;
}

.form-control select {
  border: var(--border);
}

.form-control textarea {
  border: var(--border);
  min-height: 20rem;
}

.form-actions {
  margin-top: 5rem;
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
}
