.newsfeed-container {
  display: flex;
  flex-flow: row nowrap;
}

.category-container {
  flex: 20%;
}

.category-container li {
  margin: 1rem 0;
  transition: color 0.2s;
}

.category-container li:hover {
  color: var(--primary);
  cursor: pointer;
}

.cat-active {
  color: var(--primary);
  font-weight: bold;
}

.articles-container {
  min-width: 100rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.overflow {
  overflow: hidden;
}

.article {
  flex: 30%;
  margin: 1rem;
  min-width: 41rem;
  min-width: 25rem;
  cursor: pointer;
}

.article:hover .img-container {
  transform: scale(1.1);
}

.article-author {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

.article-author p {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.newsfeed-content h2 {
  font-size: 1.9rem;
  padding: 0 1.5rem;
}

.article h3 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}

.img-container {
  height: 30rem;
  background-size: cover;
  transition: transform 1s;
}
